<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.fushuwei.scaskeleton.system.mapper.SysDeptMapper">

    <!-- 批量更新所有子孙节点的 tree_path 字段值 -->
    <update id="updateDescendantsTreePath">
        UPDATE sys_dept
        SET tree_path = CONCAT(#{newPrefix}, SUBSTRING(tree_path, #{oldPrefixLen}))
        WHERE is_deleted = 0
          AND tenant_id = #{tenantId}
          AND tree_path LIKE CONCAT(#{oldPrefix}, ',%')
    </update>

</mapper>
