<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.fushuwei.scaskeleton.log.mapper.SysOperationLogMapper">

    <!-- 分页查询操作日志  -->
    <select id="selectLogPage" resultType="io.github.fushuwei.scaskeleton.log.entity.SysOperationLog">
        SELECT l.*,
               CASE WHEN u.real_name IS NOT NULL
                   THEN CONCAT(u.real_name, ' (', u.username, ')')
                   ELSE u.username
                   END AS operator
        FROM sys_operation_log l
        LEFT JOIN sys_user u ON u.id = l.user_id AND u.is_deleted = 0
        ${ew.customSqlSegment}
    </select>

    <!-- 按 ID 查询操作日志详情 -->
    <select id="selectLogById" resultType="io.github.fushuwei.scaskeleton.log.entity.SysOperationLog">
        SELECT l.*,
               CASE WHEN u.real_name IS NOT NULL
                   THEN CONCAT(u.real_name, ' (', u.username, ')')
                   ELSE u.username
                   END AS operator
        FROM sys_operation_log l
        LEFT JOIN sys_user u ON u.id = l.user_id AND u.is_deleted = 0
        WHERE l.id = #{id}
    </select>

</mapper>
