<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.fushuwei.scaskeleton.mybatis.reference.mapper.ReferenceCheckMapper">

    <!-- 单个删除校验 -->
    <select id="checkReferences"
            resultType="io.github.fushuwei.scaskeleton.mybatis.reference.dto.ReferenceCheckResult">
        <foreach collection="references" item="ref" separator="UNION ALL">
            SELECT
                #{ref.message} AS message,
                EXISTS(
                    SELECT 1 FROM ${ref.table}
                    WHERE ${ref.column} = #{id}
                    <if test="ref.logicalDelete">
                      AND is_deleted = 0
                    </if>
                ) AS hasReference
            FROM dual
        </foreach>
    </select>

    <!-- 批量删除校验 -->
    <select id="checkReferencesBatch" resultType="io.github.fushuwei.scaskeleton.mybatis.reference.dto.ReferenceCheckBatchResult">
        <foreach collection="references" item="ref" separator="UNION ALL">
            SELECT
                t.id AS id,
                t.${displayColumn} AS displayName,
                #{ref.message} AS message,
                EXISTS(
                    SELECT 1 FROM ${ref.table} WHERE ${ref.column} = t.id <if test="ref.logicalDelete"> AND is_deleted = 0</if>
                ) AS hasReference
            FROM ${entityTableName} t
            WHERE t.id IN
            <foreach collection="ids" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </foreach>
    </select>

</mapper>
