# 声明这是根配置，不再向上冒泡
config.stopBubbling = true

# 统一链式调用、日志字段名、调用父类 toString & equals
lombok.accessors.chain = true
lombok.log.fieldName = log
lombok.toString.callSuper = call
lombok.equalsAndHashCode.callSuper = call

# 开启 Lombok 复制注解配置，允许将 @Qualifier 注解从字段拷贝到 @RequiredArgsConstructor 生成的构造方法参数上
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier
